<div class="page-header text-center">
    <h1><span class="fa fa-gamepad"></span> Pokemons</h1>
</div>

{{ pokemons }}

<div class="row">
    {{!--{{#each pokemons}}--}}
    {{!--{{pokemons}}--}}
    {{!--<div class="col-sm-4">
        <div class="well text-center">
            <h3 class="text-center">Naam</h3>
            <img src="https://upload.wikimedia.org/wikipedia/en/2/28/Pokémon_Bulbasaur_art.png">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Type</h5>
                    <p><span>Grass </span><span>Poison</span></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Capture rate (0-255)</h5>
                    <p><span>45</span></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h5>Height</h5>
                    <p>11</p>
                </div>
                <div class="col-sm-6">
                    <h5>Weight</h5>
                    <p>65</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Flavour text</h5>
                    <p><span>Lorum ipsum</span></p>
                </div>
            </div>
        </div>
    </div>--}}
    {{!--{{/each}}--}}
</div>